body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* css navbar */

nav {
  display: flex;
  background-color: #222222;
  justify-content: space-around;
  height: 3em;
  align-items: center;
}

#menu {
  color: #8f8f90;
  display: flex;
  gap: 15px;
}

#menu a {
  color: white; /* blue colors for links too */
  text-decoration: inherit; /* no underline */

  font-size: 13px;
  font-weight: 600;
}

#menu a:hover {
  color: white;
}

#hamburgermenu {
  display: none;
}

#menucollapse {
  display: none;
}

.service {
  float: left;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

/* css jumbotron  */

/* #home {
  background-image: url("../images/hero-image.jpg");
  width: 100%;

  background-size: cover;
} */

img.d-block.w-100 {
  height: 550px;
}

#jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  height: 100%;
}

#jumbotron h1 {
  color: white;
  font-size: 4em;
  text-align: center;
  margin-top: 25px;
  font-family: "Arvo", serif;
}

#jumbotron p {
  color: white;
  font-size: 21px;
  text-align: center;
  display: block;
  float: left;
  font-weight: lighter;
}
#jumbotron p strong {
  font-weight: bold;
}

#jumbotron img {
  margin-bottom: 35px;
}

#jumbotron button {
  font-weight: 500;
}
#jumbotron button:hover {
  background-color: #f74c3c !important;
}

.articletitle {
  color: #1d12e8;
  font-size: 30px;
  margin-top: 25px;
  font-weight: 500;
  font-family: "Arvo", serif;
}

.articlehr {
  color: #e74c3e;
  border-top: 1px solid;
  opacity: 1;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* css who */

#who {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

#who img {
  margin-top: 40px;
}

#who p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

#who p strong {
  color: red;
  font-weight: normal;
}

/* css involved */

#get-involved {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f5f5f5;
}

#getinvolvedcontent {
  display: flex;
  gap: 10em;
  padding: 0px 10em;
  margin-bottom: 30px;
}

#getinvolvedcontent button {
  border: 1px solid rgb(38, 31, 238);
  background-color: white;
  border-radius: 3px;
  font-size: 15px;
  color: #f74c3c;
}
#getinvolvedcontent button:hover {
  background-color: #f74c3c;
  color: white;
}

#students,
#educators,
#sponsors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.involvedtitle {
  color: rgb(33, 30, 244);
  margin-top: 10px;
  font-family: "Arvo", serif;
}

.involvedtext {
  width: 15em;
}

/* css footer  */

footer {
  height: 12em;

  background-color: #0d6efd;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

footer img {
  margin-left: 14em;
  margin-bottom: 2em;
}

/* boutton pour remonter en haut de la page */

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  #jumbotron h1 {
    color: white;
    font-size: 4em;
    text-align: center;
  }

  #who p {
    padding: 0 6em;
  }

  #getinvolvedcontent {
    gap: 7em;
  }

  .desktopbr {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  #jumbotron h1 {
    color: white;
    font-size: 3em;
    text-align: center;
  }

  #getinvolvedcontent {
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding: 0px 10em;
  }
  footer img {
    margin-left: 8em;
    margin-bottom: 2em;
  }
  .desktopbr {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 25px;
  }

  .desktopbr {
    display: none;
  }

  #menu {
    display: none;
  }

  #menumobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  #menumobile a {
    color: #8f8f90;
    display: flex;

    border-radius: 3px;
    text-decoration: inherit;
    padding: 5px;

    font-family: "Arvo", serif;
    font-size: 13px;
    font-weight: 600;
  }

  #menumobile a:hover {
    color: #ffffff;
    border: 2px white solid;
  }

  #hamburgermenu {
    color: white;
    display: block;
    display: block;
  }

  #jumbotron h1 {
    color: white;
    font-size: 1em;
    text-align: center;
  }

  #jumbotron p {
    color: white;
    font-size: 20px;
    text-align: center;
    font-size: 13px;
    padding: 0px 19px;
  }

  #jumbotron button {
    font-size: 15px !important;
  }

  #who p {
    font-size: 13px !important;
    padding: 0;
  }

  #getinvolvedcontent {
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding: 0;
  }

  .involvedtext {
    font-size: 13px;
  }

  footer img {
    margin-left: 12px;
    margin-right: auto;
  }
  .involvedtext {
    width: 100%;
  }
}
